<div class="content">
	<div class="page-header">
		<h1>Dashboard <small>Report your daily actions</h1>
		</div>
		<div class="row">
			<div class="span10">
				<% if flash[:notice] %>
				<div class="alert-message warning">
					<a class="close" href="#">×</a>
					<p><%= flash[:notice]%></p>
				</div>
				<% end %>

				<% if flash[:success] %>
				<div class="alert-message success">
					<a class="close" href="#">×</a>
					<p><%= flash[:success] %></p>
				</div>
				<% end %>
				
				<% @action_groups.each do |action_group| %>
				<h3><%= action_group.name %></h3>
				
					<% action_group.action_items.each do |action_item| %>
						<%= button_to action_item.name,
								{ :controller => "performed_actions", :action => "create", :action_item => action_item },
									:class => "btn"
						%>
					<% end %>
				<% end %>

			</div>
			<div class="span4">
				<h3>Achievements unlocked</h3>
				<% current_user.unlocked_achievements.each do |achievement| %>
					<span class="label success"><%= achievement.name %></span>
				<% end %>
				
				<h3>Latest actions</h3>
				<% current_user.performed_actions.each do |action| %>
				<span class="label"><%= action.action_item.name%></span>
				<% end %>
			</div>
		</div>
	</div>
</div>