<h3>User Profile</h3>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<% @user.p_actions.each do |p_action| %>
  <%= p_action.description %> puis
<% end %>


<% @action_items.each do |action_item| %>
  <p>
  <%= action_item.description %> :
  <%= link_to(action_item.description,	
  {:controller => "users", 
  :action => "create_action_performed", 
  :id => @user.id, 
  :action_item => action_item}) %>
  </p>
<% end %>
